.controlSizeNavbar {
  width: 60%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 40%;
  position: absolute;
  z-index: 100;
}
.controlSizeNavbar a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5em;
}
.controlSizeNavbar a:hover {
  color: blue;
  font-size: 1.7em;
  text-decoration: underline;
}

.userLoginButton {
  border: none;
  color: white;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0);
}

.userLoginButton:hover {
  color: blue;
  text-decoration: underline;
}

.cartButton {
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1.5em;
  color: black;
  background-color: white;
  padding: 0.4em 1.2em;
  margin-left: 10px;
  margin-right: 20px;
}

.cartButton:hover {
  padding: 0.5em 1.2em;
}

.cartButton span {
  border: 2px solid black;
  box-sizing: border-box;
  padding: 0px 5px;
  border-radius: 5px;
}
