.menuList {
  text-align: center;
  width: 30%;
  height: 40%;
  max-height: 250px;
  margin-bottom: 15px;
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuPictureContainer {
  width: 80%;
  padding: 5px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 10%;
  box-sizing: border-box;
}
.menuPicture {
  width: 100%;
  max-width: 180px;
  border-radius: 10%;
}
.textContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
