.miniMenuContainer {
  height: 85vh;
  width: 100%;
  margin: 0 auto;
  /*background-color: rgb(233, 233, 233);*/
  background-image: url("../../resources/pictures/brownWood.jpg");
  overflow-y: hidden;
}
.contentContainer {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contentContainer h1 {
  font-size: 3.5em;
  font-weight: 600;
}

.miniMenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.categoryContainer {
  width: 25%;
  margin-right: 100px;
}
.buttonContainer {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 4px 10px;
  border-radius: 50px;
  background-color: rgb(29, 29, 29);
}

.buttonContainer button {
  color: rgb(80, 80, 80);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.4em;
  margin: 10px 0;
  width: 100%;
  border-radius: 10px;
}
.buttonContainer button:hover {
  color: white;
}

.menuContainer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.viewMoreButton {
  position: absolute;
  right: 3%;
  top: 105%;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1.3em;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.4em 2em;
}

.viewMoreButton:hover {
  border: 2px solid black;
  color: black;
  background-color: rgb(255, 255, 255);
}

.viewMoreButton:active {
  padding: 0.5em 2.1em;
}
