.loginPageContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: white;
  margin-bottom: 10%;
}
.formContainer h1 {
  font-size: 5em;
  margin: 50px;
}
.formContainer button {
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  margin-top: 40px;
}
.formContainer button:hover {
  border: 2px solid rgb(99, 99, 99);
  box-sizing: border-box;
  background-color: white;
  color: black;
}
.formContainer button:active {
  border: 2px solid white;
  background-color: black;
  color: white;
}

.loginContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  width: 80%;
}
.loginContainer label {
  width: 120px;
  font-size: 1.5em;
}
.loginContainer input {
  max-width: 500px;
  width: 50%;
}

.buttonContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
