.recommendMenuContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /*background-color: rgb(82, 82, 82);*/
  background-image: url("../../resources/pictures/blackWood.jpg");
}
.recommendMenuContainer h1 {
  margin: 30px 0px;
  font-weight: 700;
  font-size: 2.8em;
}
.contentContainer {
  width: 90%;
  margin-left: 5%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}

.rightContainer,
.leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.rightContainer {
  justify-content: flex-start;
  align-items: center;
}
.rightContainer button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
}
.rightContainer button:hover,
.rightContainer button:active {
  background-color: rgba(0, 0, 0, 1);
}
.recImg {
  border-radius: 50%;
  margin-bottom: 20px;
}

.leftContainer {
  justify-content: space-evenly;
  align-items: flex-start;
}
.leftContainer h3 {
  font-size: 2.5em;
  font-weight: 400;
}
.leftContainer h4 {
  font-size: 1.2em;
  height: 253px;
  font-weight: 200;
}
.leftContainer h5 {
  font-size: 1.5em;
}
.leftContainer button {
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1.3em;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.4em 2em;
}

.leftContainer button:hover {
  border: 2px solid black;
  color: black;
  background-color: rgb(255, 255, 255);
}

.leftContainer button:active {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}
