.bgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -10;
}
.makeBgDarker {
  height: 100%;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: -10;
}
