.introContainer {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
}

.contentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
}
.contentContainer h1 {
  font-size: 3em;
  letter-spacing: 0.3em;
  padding-left: 5%;
}
.contentContainer h4 {
  font-size: 1.5em;
  padding-left: 5%;
}
.textContainer {
  width: 100%;
  display: flex;
  margin: 40px 0;
}

.textContainer h2 {
  font-size: 5em;
  padding-left: 5%;
}

.textContainer h2:nth-of-type(1) {
  flex-grow: 0.8;
  letter-spacing: 0.5em;
}
.textContainer h2:nth-of-type(2) {
  letter-spacing: 1em;
}

.buttonContainer {
  width: 90%;
  display: flex;
  justify-content: right;
  position: absolute;
  top: 80%;
}

.buttonContainer button {
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1.3em;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.4em 2em;
}
.buttonContainer button:hover {
  border: 2px solid black;
  color: black;
  background-color: rgb(255, 255, 255);
}
.buttonContainer button:active {
  padding: 0.5em 2.1em;
}
