.foodContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 4% auto;
}
.bgFoodPage {
  width: 100%;
  height: 100%;
  background-image: url("../../resources/pictures/brownWood.jpg");
  position: absolute;
  z-index: -10;
  top: -5%;
}
.foodContent {
  width: 100%;
  max-width: 1400px;
  border: 3px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
}
.pictureContainer {
  width: 50%;
  height: 100%;
}
.sizingImg {
  display: block;
  max-width: 400px;
  width: 80%;
  margin: auto;
}

.foodDetailContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.foodDetailContainer h1 {
  font-size: 2.5em;
  font-weight: 600;
}
.foodDetailContainer h4 {
  font-size: 1.5em;
  font-weight: 500;
}
.foodDetailContainer p {
  font-size: 1.2em;
  font-weight: 400;
}
.foodContainer input {
  margin-right: 15px;
  width: 17%;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.foodContainer button {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}
