.menuContainer {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.menuContainer h1 {
  margin-top: -80px;
  color: white;
}
.bgMenu {
  position: absolute;
  z-index: -100;
  min-height: 70vh;
  height: 98%;
  width: 100%;
  /*background-color: rgb(216, 216, 216);*/
  background-image: url("../../resources/pictures/brownWood.jpg");
}

.contentContainer {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.showMenuContainer {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1100px;
  color: black;
  font-size: 1.2em;
}
