.cartContainer {
  width: 60%;
  position: fixed;
  z-index: 300;
  top: 15%;
  left: 20%;
  min-height: 200px;
  border: 2px solid rgb(94, 94, 94);
  border-radius: 10px;
  color: white;
  background-image: url("../../resources/pictures/blackWood.jpg");
  display: flex;
  flex-direction: column;
}

.totalPriceContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 95%;
}

.textTotalPriceContainer,
.numberTotalPriceContainer {
  margin: 0 30px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.textTotalPriceContainer h3 {
  font-size: 2em;
  font-weight: 400;
}
.numberTotalPriceContainer h4 {
  font-size: 1.7em;
  font-weight: 300;
}

.buttonContainer button {
  background-color: white;
  border: 2px solid black;
  font-size: 1.1em;
  font-weight: 600;
  width: 10%;
  border-radius: 10px;
}
.buttonContainer button:nth-of-type(1) {
  margin-right: 10px;
}
