.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.detailContainer {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin: 5px 0;
}
.detailContainer label {
  font-size: 1.3em;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 15px 0;
}
.buttonContainer button {
  background-color: white;
  border: 2px solid black;
  font-size: 1.1em;
  font-weight: 600;
  width: 50%;
  border-radius: 10px;
}

.buttonContainer button:nth-of-type(1) {
  margin-right: 10px;
}
