.orderContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px auto;
  padding: 10px 0;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  width: 95%;
}

.detailOrderContainer {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.detailOrderContainer h2,
h3 {
  font-size: 2em;
  font-weight: 300;
}
.numberOrderContainer {
  width: 15%;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.numberOrderContainer h4 {
  font-size: 2em;
  font-weight: 300;
}
.numberOrderContainer button {
  background-color: white;
  border: 2px solid black;
  width: 25%;
  border-radius: 10px;
}
